@import "../../configStyles/variables.module.scss";

@mixin break($width) {
    @media screen and (max-width: $width) {
      @content
    }
}

.songList {
    width: 90%;
    height: fit-content;
    padding: 20px;
    overflow: auto;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    position: relative;
    z-index: 1;

    @include break($bkp900) {
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: $gray;
        border-radius: 10px;
    }
}

.songList::-webkit-scrollbar {
    display: none;
}

.arrowRight, .arrowLeft {
    position: fixed;
    top: 450px;
    right: 60px;
    z-index: 2;
    color: $primaryText;
    background-color: $bkg;
    border-radius: 50%;
    font-size: 50px;
    box-shadow: 3px 3px 80px 3px $secondText;

    @include break($bkp1400) {
        font-size: 30px;
    }

    @include break($bkp900) {
        display: none;
    }
}

.arrowLeft {
    top: 450px;
    left: 60px;
}

