@import "../../configStyles/variables.module.scss";

@mixin break($width) {
    @media screen and (max-width: $width) {
      @content
    }
}

.songList {
    width: 90%;
    height: fit-content;
    padding: 20px;
    overflow: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    position: relative;
    z-index: 1;

    @include break($bkp900) {
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: $gray;
        border-radius: 10px;
    }
}

.songList::-webkit-scrollbar {
    display: none;
}