@import "../../configStyles/variables.module.scss";

@mixin break($width) {
    @media screen and (max-width: $width) {
      @content
    }
}

.carrossel {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 60px;

    @include break($bkp900) {
        margin-top: 60px;
        flex-wrap: wrap;
    }
}

.scrollControllers {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;

    @include break($bkp900) {
        display: none;
    }
}

.scrollLeft, .scrollRight {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 1px 1px 100px 1px $secondGray;
    cursor: pointer;
}

.songList {
    width: 90%;
    height: fit-content;
    padding: 20px;
    overflow: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    position: relative;
    z-index: 1;

    @include break($bkp900) {
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: $gray;
        border-radius: 10px;
    }
}

.songList::-webkit-scrollbar {
    display: none;
}