@import "../../configStyles/variables.module.scss";

@mixin break($width) {
    @media screen and (max-width: $width) {
      @content
    }
}

.carrossel {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 60px;

  @include break($bkp900) {
      margin-top: 60px;
      flex-wrap: wrap;
  }
}

.scrollControllers {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;

  @include break($bkp700) {
      display: none;
  }
}

.scrollLeft, .scrollRight {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  box-shadow: 1px 1px 100px 1px $secondGray;
  cursor: pointer;
}

.cardList {
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    overflow: auto;

    @include break($bkp900) {
      border-radius: 10px;
      background-color: $gray;
      padding: 20px 0;
    }

    @include break($bkp700) {
      width: calc($CardWidth - 200px);
      overflow: hidden;
      justify-content: center;
      border: 1px solid $secondGray;
      border-radius: 10px;
      padding: 5px;
      margin-top: 20px;
    }
}

.cardList::-webkit-scrollbar {
  display: none;
}

.bests {
  width: 100%;
  display: none;
  font-family: $Roboto;
  color: $primaryText;
  font-size: 22px;
  text-align: center;

  @include break($bkp900) {
    display: block;
  }

  @include break($bkp700) {
    display: none;
  }
}

.favorite {
  width: 100%;
  display: none;
  font-family: $Roboto;
  color: $primaryText;
  font-size: 22px;
  text-align: center;

  @include break($bkp700) {
    display: block;
  }

}
