@import "../../configStyles/variables.module.scss";

@mixin break($width) {
    @media screen and (max-width: $width) {
      @content
    }
}

.songContainer {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;

    @include break($bkp900) {
        margin: 20px 0;
    }

    @include break($bkp800) {
        width: 100%;
    }

    @include break($bkp630) {
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        border-radius: 10px;
        background-color: $thirdGrey;
    }

}

.songImg {
    width: 80px;
    height: 80px;
    border-radius: 5px;

    @include break($bkp630) {
        width: 120px;
        height: 120px;
        margin: auto;
    }
    
}

.songDescription {
    width: fit-content;
    margin-left: 20px;

    @include break($bkp630) {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    
}

.songDescription h1 {
    font-family: $Roboto;
    font-size: 25px;
    color: $primaryText;
    white-space: nowrap;

    @include break($bkp630) {
        padding: 10px 0 0 0;
    }

}

.songDescription p {
    font-family: $Roboto;
    font-size: 22px;
    padding: 8px 0 0 0;
    font-weight: 500;
    color: $secondText;
    white-space: nowrap;

    @include break($bkp800) {
        display: none;
    }
}

