@import "./variables.module.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    background-color: $bkg;
}

body::-webkit-scrollbar {
    width: 22px;
}
  
body::-webkit-scrollbar-track {
    background-color: $gray;
    border: 1px solid $thirdText;
}

body::-webkit-scrollbar-thumb {
    background-color: $secondGray;
}

button {
    outline: none;
    border: none;
}
