@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/youtube-sans');
//Fonts
$Youtube: YouTube Sans, sans-serif;
$Roboto: Roboto, sans-serif;
$Oswald: Oswald, sans-serif;

//breakpoints
$bkp900: 900px;

//Colors
$bkg: #000000;
$primaryText: #FFFFFF;
$secondText: #919090;
$thirdText: #414141;
$gray: #242323;
$secondGray: #707070;
$userIcon: #5456b0;
$contrastTheme: #f52222;


:export {
    bkp900: $bkp900
}